/*começo do meain*/
.inicio-h {
    margin-top: 80px;
}
.inicio-projeto {
    display: flex;
    justify-content: center;
    margin: 0 75px;
    text-align: justify;
}
.inicio-imagem {
    border-radius: 10px;
    width: 400px; /* Certifique-se de definir a largura e a altura para que a imagem seja circular */
    height: 400px;
}
.inicio-container {
    justify-items: center;
    
}
.inicio-container p {
    margin-top: 5px;
    font-size: 27px;
    margin-left: 40px;

}
/*parte da relatos*/
/* Centralizar o título H1 */
.relatos {
    text-align: center; /* Centraliza o texto dentro do contêiner do título */
    margin: 20px 0; /* Adiciona margem superior e inferior */
    font-size: 2em; /* Ajusta o tamanho da fonte conforme necessário */
}

/* Estilos para a box-area */
.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os itens horizontalmente */
    gap: 20px; /* Espaço entre os itens */
    margin: 70px auto; /* Margem superior e centralização horizontal */
}

/* Estilos para cada single-box */
.single-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 4px;
    background-color: #0549b6;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.6);
}

/* Estilos para a área da imagem */
.img-area {
    width: 80px;
    height: 80px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
}

/* Definindo imagens de fundo para cada single-box */
.single-box:nth-child(1) .img-area {
    background-image: url('../img/imagem2.jpeg');
}

.single-box:nth-child(2) .img-area {
    background-image: url('../img/imagem3.jpeg');
}

.single-box:nth-child(3) .img-area {
    background-image: url('../img/imagem4.jpeg');
}

.header-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.line {
    color: #fff;
}

.line h3 {
    margin: 10px 0;
   
}

.line p {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.single-box:hover {
    background-color: darkblue;
    color: #fff;
}
.ods-h {
    text-align: center;
    margin-top: 40px;
}
.ods {

    display: flex;
    margin: 70px 75px;
    text-align: justify;
}
.ods-img {
    width: 480px;
    height: 500px;
    border-radius: 10px;
}
.ods-container {
    justify-items: center;
}
.ods p {
    margin: 0 40px;
    font-size: 20px;
    margin-top: 15px;
}
