/*Principais Cores :

Azul Escuro #003366
Branco #FFFFFF
Preto  #000000
Azul Claro #1F4788

Reset de estilos para manter a consistência em todos os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #000000; 
    opacity: 0.9;
}


/* Estilos para o conteúdo */
main {
    padding-top: 80px; /* Espaço para o menu fixo */
}
